<ion-header>
  <ion-toolbar color="mycolor1">
    <ion-title>
      <img src="assets/images/carpinteria.jpg" style="height: 40px;" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="irAlCarrito()">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Carpintería Garcia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Muebles hechos a mano con la mejor calidad y diseño personalizado.
    </ion-card-content>
  </ion-card>

  <div class="menu-grid">
    <div class="menu-item" (click)="navigateTo('citas')">
      <img src="assets/images/calendario.png" alt="Agendar" />
      <p>Agenda tu cita</p>
    </div>
    <div class="menu-item" (click)="navigateTo('catalogo')">
      <img src="assets/images/comedor.png" alt="Productos" />
      <p>Productos</p>
    </div>
    <div class="menu-item" (click)="irpreguntas()">
      <img src="assets/images/pregunta-y-respuesta.png" alt="Contáctanos" />
      <p>Preguntas y Respuestas</p>
    </div>
    <div class="menu-item" (click)="navigateTo('contacto')">
      <img src="assets/images/puntero-del-mapa.png" alt="Contáctanos" />
      <p>Tienda Local</p>
    </div>
    <div class="menu-item" (click)="navigateTo('contacto')">
      <img src="assets/images/calcular.png" alt="Conversor" />
      <p>Conversor de Unidades</p>
    </div>
    <div class="menu-item" (click)="navigateTo('perfil')">
      <img src="assets/images/usuario.jpg" alt="Perfil" />
      <p>Configuración de Perfil</p>
    </div>
  </div>

  <!-- Botón de salir al final de los cuadros del menú -->
  <div style="width: 100%; text-align: center; margin-top: 30px;">
    <ion-button (click)="salir()" style="margin: 0 auto;">
      <ion-icon slot="start" name="log-out"></ion-icon>
      Salir
    </ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="mycolor1">
    <ion-title>© Carpintería García</ion-title>
  </ion-toolbar>
</ion-footer>
